﻿/* example styles for validation form demo */
#register-form {
	background: repeat-x scroll left bottom #F8FDEF;
	border: 1px solid #DFDCDC;
	border-radius: 15px 15px 15px 15px;
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-top: 10px;
	padding: 20px;
	width: 250px;
}
#register-form .fieldgroup {
	display: inline-block;
	width: 220px;
}
#register-form .fieldgroup input, #register-form .fieldgroup select {
	margin: 5px 0px;
	height: 20px;
	width: 215px;
}
#register-form textarea{
    margin: 5px 0px;
    width: 215px;
}
#register-form .submit {
	color: gray;
	padding: 10px;
	width: 80px;
	height: 30px !important;
	float: right;
	margin-left: 10px;
}
#register-form .submit:hover {
	color: #FFF;
}
#register-form .fieldgroup label.error {
	color: #FB3A3A;
	display: inline-block;
	margin-bottom: 5px;
	width: 220px;
	text-align: left;
    font-size: 13px;
}
.wrong{
    border-color: #FB3A3A;
    border-style: solid;
}
h2 {
	padding-bottom: 15px;
}
#popup_bkg{
	position: fixed;
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
    background: #000;
	opacity: 0.8;
	z-index: 1000;
	cursor: pointer;
    display: none;
}
#popup_box{
    position: absolute;
    background: white;
    width: 40%;
    margin: 100px 0 0 30%;
    padding: 20px;
    z-index: 1500;
    display: none;
}
#close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #999;
    text-align: center;
    line-height: 27px;
    font-size: 30px;
    float: right;
    cursor: pointer;
}